nav{
    display:flex;
}
.menu{
  text-decoration: none;
  padding: 1px;
  margin: 5px 30px; 
  justify-content: space-between;
  cursor: pointer;
}
li{
    list-style: none;
}
.dropdown{
  display: block;
   margin:auto 0px;
}
.dropdown-menu{
  text-decoration: none;
}
.dropdown-toggle{
  text-decoration: none;
}
.active{
  background-color: antiquewhite;
  padding: 18px;
}