<nav class="navbar navbar-expand-md bg-light navbar-light">
    <div class="navbar-header">
        <a routerLink="/recipe" class="navbar-brand">Taste out</a> 
    </div>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon" ></span>
    </button>   
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="nav navbar-nav ">
            <!-- <li><a class="menu"  (click)="onSelect('shopping')">Shop</a></li>
            <li><a class="menu" (click)="onSelect('recipe')">Receipes</a></li> -->
            <li><a class="menu" *ngIf="authenticated" routerLinkActive="active" routerLink="/recipe">Receipes</a></li>
            <li><a class="menu" *ngIf="!authenticated" routerLinkActive="active" routerLink="/auth">Authenticate</a></li>
            <li><a class="menu" routerLinkActive="active" routerLink="/shopping" >Shop</a></li>
            
        </ul>
        <!-- <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a  class="dropdown-toggle" role="button">Manage<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="save">save data</a></li>
                        <li><a routerLink="fetch">Fetch data</a></li>
                    </ul>
                </li>
        </ul> -->
        
        <ul *ngIf="authenticated" ngbDropdown>
           
          <li  class="dropdown">
            <ul>
            <a type="button" ngbDropdownToggle>Manage</a>
            <li ngbDropdownMenu>
                <a ngbDropdownItem style="cursor: pointer;" (click)="save()">Save data</a>
                <a ngbDropdownItem style="cursor: pointer;" (click)="fetch()">Fetch data</a>
              
            </li>
        </ul>
        </li>
        </ul>
        <li style="margin-left:300px;" *ngIf="authenticated" >
            <a style="cursor:pointer;" (click)="logout()">Logout</a>
        </li>
    </div>
</nav>

