<!-- <div class="recipeItem">
    <a  class="list-group-item clearfix" (click)="onSelected()">
        <div class="receipeInfo">
            <h4 class="list-group-item-heading">{{recipe.name}}</h4>
            <p class="list-group-item-text">{{recipe.description}}</p>
        </div>
        <span class="receipeImage">
            <img src="{{recipe.Imagepath}}" class="img-responsive" style="height: 80px;width: 80px;">
        </span>
    </a>
</div> -->
<div class="recipeItem" >
    <a  class="list-group-item clearfix" [routerLink]="[id]" routerLinkActive="active">
        <div class="receipeInfo">
            <h4 class="list-group-item-heading">{{recipe.name}}</h4>
            <p class="list-group-item-text">{{recipe.description}}</p>
        </div>
        <span class="receipeImage">
            <img src="{{recipe.Imagepath}}" class="img-responsive" style="height: 80px;width: 80px;">
        </span>
    </a>
</div>
