<div class="onload">
<div class="row ">
    <div class="col-md-12">
        <img src="{{recipeData.Imagepath}}" width="300px" height="300px">
    </div>
</div>
<div class="row text-center">
    <div class="col-md-12">
        <h1>{{recipeData.name}}</h1>    
    </div>
</div>
<!-- <div class="row">
    <div class="col-md-12 ">
        <div class="dropdown" appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle " >
                Manage Recipe</button>
                <div class="dropdown-menu ">
                   <a class="dropdown-item" href=''>To Shopping List</a>
                   <a class="dropdown-item" href=''>Edit recipe</a>
                   <a class="dropdown-item" href=''>Delete Recipe</a>
                </div>
           
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col">
      <div ngbDropdown>
        <button type="button" class="btn btn-primary btn-sm" ngbDropdownToggle>Manage</button>
        <div ngbDropdownMenu>
          <button (click)="addtoShoppingList(recipeData.ingredients)" ngbDropdownItem>To Shopping List</button>
          <button ngbDropdownItem (click)="onEdit()">Edit recipe</button>
          <button ngbDropdownItem (click)="onDelete()">Delete Recipe</button>
        </div>
      </div>
    </div>
<div class="row text-center" >
    <div class="col-xs-12">
        {{recipeData.description}}
    </div>
</div>
<div class="row text-center">
    <div class="col-xs-12">
      <ul class="list-group">
        <h3>Ingredients</h3>
        <li class="list-group-item" *ngFor="let ingre of recipeData.ingredients">
           
            <div class="card">
                <span>Name - {{ingre.name}}</span>
                <span>Quantity- {{ingre.amount}}</span>
            </div>
        </li>
      </ul>
    </div>
    
</div>
</div>
