<div class="onload">
<div class="row ">
    <div class="col-md-12">
        <img src="{{recipeData.Imagepath}}" width="500px" height="500px">
    </div>
</div>
<div class="row text-center">
    <div class="col-md-12">
        <h1>{{recipeData.name}}</h1>    
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center m-2">
        <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle ">
                <ul class="dropdown-menu">
                    <li><a href=''>To Shopping List</a></li>
                    <li><a href=''>Edit recipe</a></li>
                    <li><a href=''>Delete Recipe</a></li>
                </ul>
            Manage Recipe</button>
        </div>
    </div>
</div>
<div class="row text-center" >
    <div class="col-xs-12">
        {{recipeData.description}}
    </div>
</div>
<div class="row text-center">
    <div class="col-xs-12">
      Ingredients
    </div>
</div>
</div>