<ng-template appPlaceholder></ng-template>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!-- <div class="alert alert-danger" *ngIf="error">
                <p>{{error}}</p>
                <button class="btn btn-danger btn-sm" (click)="error=''">Okay</button>
            </div> -->
            <!-- <app-alert [message]="error" *ngIf="error"></app-alert> -->
            <div *ngIf="isLoading" style="text-align: center;margin-top:100px;">
                <app-loading-spinner></app-loading-spinner>
            </div>      
            <form #authForm="ngForm" (ngSubmit)="submit(authForm.value)" *ngIf=!isLoading>
            <label>Email</label>
            <input type="email" name="email" ngModel class="form-control" required email>
            <label>Password</label>
            <input type="password" name="password" ngModel class="form-control" required minlength="6"><br>
            <button type="submit" [disabled]="authForm.invalid" class="btn btn-primary p-1 m-1 btn-sm">{{isLogin?'Login':'SignUp'}}</button>|
            <button type="button" class="btn btn-primary p-1 m-1 btn-sm" (click)="isLogin=!isLogin">Switch to {{isLogin ? 'Sign Up':'Login'}}</button>
        </form>
        </div>
    </div>
</div>
